@page
@model AccessDeniedModel
@{
    ViewData["Title"] = " لا تحاول تفوت مارح تحسن يا خاي  ";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">هذه الصفحة مخصصة فقط للادمن لا تحاول الدخول اليها قالنظام محمي جيدا </p>
</header>
